body{
  background-color: var(--black-color);
  text-align: center;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* para qeu mida toda la pantalla
  significa viewport height que significa que va a toamr el tamaño de la pantalla */
}
.content_paypal a{
color: var(--green-color);
}
